body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    background-color: #bcb1a5;
    font-family: 'Gabriela';
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 5px 5px 5px #0b0b0b74;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
    /* font-size: 1.1rem; */
  }
  
  /* for each individual message */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  } */
  
  .time-left {
    float: left;
    color: rgb(54, 54, 54);
  }
  
  #no-messages {
      border-radius: 10px;
      }
  
  .room-name {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
  }
  
  /* #display {
    overflow: scroll;
  
    box-shadow: 5px 5px 5px #6e6e6ec5;
  } */
  
  #display::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.513);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
  }
  
  #display::-webkit-scrollbar {
    width: 16px;
  }
  
  #display {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 400px;
    max-height: 400px;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 5px #47464867;
    border-radius: 10px;
  }
  
  .form {
    box-shadow: 5px 5px 5px #47464867;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem 0;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #c78530;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #c6770f;
    }

    #intro-message{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px; 
    text-align: center; 
    margin-bottom: 0.7rem;
    }